{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
            <table>
                {% if task_list %}
            <thead>
                <th>Name</th><th>Start date</th><th>Due date</th>
                <th>Is completed</th>
            </thead>
            {% endif %}
            {% for task in task_list  %}
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                </tr>
            </tbody>
         {% empty %}
            <p>You have no tasks</p>
        {% endfor %}
    </table>
    </div>
</main>
{% endblock content %}
