{% extends 'base.html' %}

{% block content %}
<main>
    <div>

        <h1>
            {{ project_tasks.name }}
        </h1>
        <p>
            {{ project_tasks.description }}
        </p>

        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <table>
            {% if project_tasks %}
            <thead>

                <th>Name</th><th>Assignee</th><th>Start date</th>
                <th>Due date</th><th>Is completed</th>
            </thead>
            {% endif %}
            {% for task in project_tasks.tasks.all %}
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                </tr>
            </tbody>
            {% empty %}
            <p>This project has no tasks</p>
        {% endfor %}
        </table>
    </div>

</main>
{% endblock content %}
