{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
            <table>
                {% if list_projects %}
            <thead>
                <th>Name</th><th>Number of tasks</th>
            </thead>
            {% endif %}
            {% for project in list_projects  %}
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            </tbody>

         {% empty %}
            <p>You are not assigned to any projects</p>

        {% endfor %}
    </table>

    </div>
</main>
{% endblock content %}
